html body {
    background-color: white !important;
}

body .text-desc {
    color: black !important;
}

body .subheader .entry-title {
    color: black !important;
}
.text-desc1 {
    color: white;
}
body .container{
    background-color: black !important  ;
}